<p id="notice"><%= notice %></p>

<h1>Listing Posts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
<<<<<<< HEAD
      <th>Descripation</th>
=======
      <th>Description</th>
>>>>>>> 6137f540dd17543abf62c342d466bad567cbdacc
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.name %></td>
<<<<<<< HEAD
        <td><%= post.descripation %></td>
=======
        <td><%= post.description %></td>
>>>>>>> 6137f540dd17543abf62c342d466bad567cbdacc
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
