<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @post.name %>
</p>

<p>
<<<<<<< HEAD
  <strong>Descripation:</strong>
  <%= @post.descripation %>
=======
  <strong>Description:</strong>
  <%= @post.description %>
>>>>>>> 6137f540dd17543abf62c342d466bad567cbdacc
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
